<!DOCTYPE html>
<html lang = "ja">
	<head>
		<meta charser="utf-8">
		<title>ExpressionParser</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />


		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>

		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

	</head>

	<body>

		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<!-- Title -->
					<span class="mdl-layout-title">Expression Parser</span>
					<!-- Add spacer, to align navigation to the right -->
					<div class="mdl-layout-spacer"></div>
					<!--Navigation. We hide it in small screens. -->
					<nav class="mdl-navigation ">
						<ul>
							<a href="https://twitter.com/masaponto"><i class="fa fa-twitter fa-2x"></i></a>
							<a href="https://github.com/masaponto/dentaku"><i class="fa fa-github-square fa-2x"></i></a>
						</ul>
					</nav>
				</div>
			</header>


	  		<main class="mdl-layout__content mdl-color--grey-200">
				<div class="page-content">

					<div class="mdl-grid">

						<div class="mdl-cell mdl-cell--1-col"></div>
						<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--10-col">

							<div class="mdl-grid">

								<div class="mdl-cell mdl-cell--8-col">


									<div class="mdl-grid">

										<div class="mdl-cell mdl-cell--12-col">
											<span class="gyo"></span><br>
										</div>

									</div>
									<div class="mdl-grid">
										<form action="#">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--11-col">
												<input class="mdl-textfield__input" type="text" id="inputText" />
												<label class="mdl-textfield__label" for="inputText">In put expression</label>
											</div>
										</form>
										<div class="mdl-cell mdl-cell--1-col"></div>
									</div>

									<div class="mdl-grid">

										<form action="#">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--11-col">
												<input class="mdl-textfield__input" type="text" id="outputText"  readonly="readonly"/>
												<label class="mdl-textfield__label" for="outputText"></label>
											</div>
										</form>
										<div class="mdl-cell mdl-cell--1-col"></div>
									</div>

								</div>



								<div class="mdl-cell mdl-cell--4-col">

									<h6 id="estimated"> This Number is ...</h6>

									<div class="canvas_area">
										<canvas id="canvas" class="mdl-shadow--2dp"></canvas>
									</div>
									<br>

									<button id="accept_button" type="button"
											class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Yap</button>
									<button id="delete_button" type="button"
											class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">No</button>

								</div>



							</div>

						</div>


						<div class="mdl-cell mdl-cell--1-col"></div>

					</div>
				</div>
			</main>

		</div>

		<!-- <script src="parser.js"></script> -->
		<script src="{{ url_for('static', filename='drawer.js') }}"></script>
		<script src="{{ url_for('static', filename='parser.js') }}"></script>

	</body>

</html>
